A script to simply take most recent macrophyte coverage obs from the sites in the Zhang et al. 2017, Earth Sci Reviews and compute lake area-weighted mean. Note this includes all types of macrophytes.

In [1]:
import os
import numpy as np
import pandas as pd

In [2]:
# joinby
df.groupby(['Study sites', 'Unnamed: 1_level_1']).last()

NameError: name 'df' is not defined

## V2

In [5]:
## load data v2
# pth = '/Users/ethankyzivat/Google Drive/Research/Lab Meetings/UAVSAR_paper_May_2021/Zhang-global-loss-veg-lakes-table.xlsx'
pth = '/mnt/g/Other/Zhang2017LakeMacrophytes/ZhangMacrophyteDecline.xlsx'
df = pd.read_excel(pth, na_values='NaN', skiprows=0)
df.reset_index(col_level=0, inplace=True)
# df.set_index('index', inplace=True) # doesn't work
df.drop(0, axis=0, inplace=True)
df.head(8)

,index,Reference,Site No.,Study sites,Country,Types,Area (km2),Year,Aquatic vegetation area (km2),Aquatic vegetation cover (%),Change trend,Specific change rate μ (% y-1),Unnamed: 11,Unnamed: 12,Unnamed: 13,Area difference between final and initial year (km2),Observation method
1,1,-1.0,1.0,Lake Simcoe (Cook's Bay),Canada,1,44,1984,9.530,21.66,+,NaN,5.94,-8.77,2.79,8.590,A
2,2,NaN,NaN,NaN,NaN,NaN,NaN,1987,11.390,25.89,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,NaN,NaN,NaN,NaN,NaN,NaN,2006,19.780,44.95,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,NaN,NaN,NaN,NaN,NaN,NaN,2007,18.120,41.18,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,5,-2.0,2.0,Lake Číčov,Slovak Republic,"1, 2",0.487,1949,0.293,60.12,/,-0.59,NaN,NaN,-0.03,-0.005,"A, B"
6,6,NaN,NaN,NaN,NaN,NaN,NaN,1970,0.259,54.37,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,7,NaN,NaN,NaN,NaN,NaN,NaN,1990,0.239,50.14,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,8,NaN,NaN,NaN,NaN,NaN,NaN,2006,0.288,60.09,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
## Fill NA with most recent obs

cols_to_backfill = ['Reference','Site No.','Study sites', 'Country', 'Types', 'Area (km2)', 'Change trend', 'Area difference between final and initial year (km2)', 'Observation method']
df.loc[:, cols_to_backfill] = df[cols_to_backfill].fillna(method='ffill')
df.rename(columns={'index':'reference'}, inplace=True)
df.index.rename('Idx')
df.head(8)

,reference,Reference,Site No.,Study sites,Country,Types,Area (km2),Year,Aquatic vegetation area (km2),Aquatic vegetation cover (%),Change trend,Specific change rate μ (% y-1),Unnamed: 11,Unnamed: 12,Unnamed: 13,Area difference between final and initial year (km2),Observation method
1,1,-1.0,1.0,Lake Simcoe (Cook's Bay),Canada,1,44,1984,9.530,21.66,+,NaN,5.94,-8.77,2.79,8.590,A
2,2,-1.0,1.0,Lake Simcoe (Cook's Bay),Canada,1,44,1987,11.390,25.89,+,NaN,NaN,NaN,NaN,8.590,A
3,3,-1.0,1.0,Lake Simcoe (Cook's Bay),Canada,1,44,2006,19.780,44.95,+,NaN,NaN,NaN,NaN,8.590,A
4,4,-1.0,1.0,Lake Simcoe (Cook's Bay),Canada,1,44,2007,18.120,41.18,+,NaN,NaN,NaN,NaN,8.590,A
5,5,-2.0,2.0,Lake Číčov,Slovak Republic,"1, 2",0.487,1949,0.293,60.12,/,-0.59,NaN,NaN,-0.03,-0.005,"A, B"
6,6,-2.0,2.0,Lake Číčov,Slovak Republic,"1, 2",0.487,1970,0.259,54.37,/,NaN,NaN,NaN,NaN,-0.005,"A, B"
7,7,-2.0,2.0,Lake Číčov,Slovak Republic,"1, 2",0.487,1990,0.239,50.14,/,NaN,NaN,NaN,NaN,-0.005,"A, B"
8,8,-2.0,2.0,Lake Číčov,Slovak Republic,"1, 2",0.487,2006,0.288,60.09,/,NaN,NaN,NaN,NaN,-0.005,"A, B"

In [7]:
## Fix lake area values 
out=[]
for i in df['Area (km2)']:
    out.append(str(i).replace('>50', '60').replace('<10','1').replace('30-50', '40').replace('20-50', '35'))
df['Area (km2)'] = np.array(out, dtype='float')
df.head()

,reference,Reference,Site No.,Study sites,Country,Types,Area (km2),Year,Aquatic vegetation area (km2),Aquatic vegetation cover (%),Change trend,Specific change rate μ (% y-1),Unnamed: 11,Unnamed: 12,Unnamed: 13,Area difference between final and initial year (km2),Observation method
1,1,-1.0,1.0,Lake Simcoe (Cook's Bay),Canada,1,44.000,1984,9.530,21.66,+,NaN,5.94,-8.77,2.79,8.590,A
2,2,-1.0,1.0,Lake Simcoe (Cook's Bay),Canada,1,44.000,1987,11.390,25.89,+,NaN,NaN,NaN,NaN,8.590,A
3,3,-1.0,1.0,Lake Simcoe (Cook's Bay),Canada,1,44.000,2006,19.780,44.95,+,NaN,NaN,NaN,NaN,8.590,A
4,4,-1.0,1.0,Lake Simcoe (Cook's Bay),Canada,1,44.000,2007,18.120,41.18,+,NaN,NaN,NaN,NaN,8.590,A
5,5,-2.0,2.0,Lake Číčov,Slovak Republic,"1, 2",0.487,1949,0.293,60.12,/,-0.59,NaN,NaN,-0.03,-0.005,"A, B"

In [8]:
## Remove any entries with no macrophyte % value
df.dropna(subset=['Aquatic vegetation cover (%)'], inplace=True)

In [9]:
# joinby
# df.groupby('Study sites').last().sort_values('reference')
dfg = df.groupby('Study sites')
print('Mean of earliest M%: {}'.format(dfg['Aquatic vegetation cover (%)'].first().mean()))
print('Mean of most recent M%: {}'.format(dfg['Aquatic vegetation cover (%)'].last().mean()))
print('Mean of temporal mean M%: ' + str(dfg['Aquatic vegetation cover (%)'].mean().mean()))

print('\nWeighted mean of first M%: ' + str(np.average(dfg['Aquatic vegetation cover (%)'].first(), weights = dfg['Area (km2)'].mean())))
print('Weighted mean of last M%: ' + str(np.average(dfg['Aquatic vegetation cover (%)'].last(), weights = dfg['Area (km2)'].mean())))
print('Weighted mean of temporal mean M%: ' + str(np.average(dfg['Aquatic vegetation cover (%)'].mean(), weights = dfg['Area (km2)'].mean())))

Mean of earliest M%: 46.9746
Mean of most recent M%: 26.858400000000003
Mean of temporal mean M%: 37.07415738039738

Weighted mean of first M%: 35.191318070944746
Weighted mean of last M%: 25.726324051033806
Weighted mean of temporal mean M%: 30.300849945765403

# Save output

In [18]:
## Save
pth_out=os.path.join(os.path.dirname(pth), 'Zhang_tabular_out.xlsx')
df.to_excel(pth_out)

pth_out_group_mean=os.path.join(os.path.dirname(pth), 'Zhang_tabular_grouped_mean_out.xlsx')
dfg.mean().to_excel(pth_out_group_mean)

print('saved')

saved

## V1
Trying to correctly add a double index...it became a mess and I realized I didn't need the double index.

In [2]:
## load data
df = pd.read_excel('/Users/ethankyzivat/Google Drive/Research/Lab Meetings/UAVSAR_paper_May_2021/Zhang-global-loss-veg-lakes-table.xlsx', na_values='NaN', header=(0,1), index_col=None)
df.reset_index(col_level=0, inplace=True)
# df.set_index('index', inplace=True) # doesn't work
df.head(8)

Reference index           Site No.               Study sites  \
                Unnamed: 0_level_1        Unnamed: 1_level_1
0          -1.0                1.0  Lake Simcoe (Cook's Bay)
1           NaN                NaN                       NaN
2           NaN                NaN                       NaN
3           NaN                NaN                       NaN
4          -2.0                2.0                Lake Číčov
5           NaN                NaN                       NaN
6           NaN                NaN                       NaN
7           NaN                NaN                       NaN

Reference            Country              Types         Area (km2)  \
          Unnamed: 2_level_1 Unnamed: 3_level_1 Unnamed: 4_level_1
0                     Canada                  1                 44
1                        NaN                NaN                NaN
2                        NaN                NaN                NaN
3                        NaN                NaN                NaN
4            Slovak Republic               1, 2              0.487
5                        NaN                NaN                NaN
6                        NaN                NaN                NaN
7                        NaN                NaN                NaN

Reference               Year Aquatic vegetation area (km2)  \
          Unnamed: 5_level_1            Unnamed: 6_level_1
0                       1984                         9.530
1                       1987                        11.390
2                       2006                        19.780
3                       2007                        18.120
4                       1949                         0.293
5                       1970                         0.259
6                       1990                         0.239
7                       2006                         0.288

Reference Aquatic vegetation cover (%)       Change trend  \
                    Unnamed: 7_level_1 Unnamed: 8_level_1
0                                21.66                  +
1                                25.89                NaN
2                                44.95                NaN
3                                41.18                NaN
4                                60.12                  /
5                                54.37                NaN
6                                50.14                NaN
7                                60.09                NaN

Reference Specific change rate μ (% y-1)                             \
                                   <1980 1980-2000 >2000 Whole year
0                                    NaN      5.94 -8.77       2.79
1                                    NaN       NaN   NaN        NaN
2                                    NaN       NaN   NaN        NaN
3                                    NaN       NaN   NaN        NaN
4                                  -0.59       NaN   NaN      -0.03
5                                    NaN       NaN   NaN        NaN
6                                    NaN       NaN   NaN        NaN
7                                    NaN       NaN   NaN        NaN

Reference Area difference between final and initial year (km2)  \
                                           Unnamed: 13_level_1
0                                                      8.590
1                                                        NaN
2                                                        NaN
3                                                        NaN
4                                                     -0.005
5                                                        NaN
6                                                        NaN
7                                                        NaN

Reference  Observation method
          Unnamed: 14_level_1
0                           A
1                         NaN
2                         NaN
3                         NaN
4                        A, B
5                         NaN
6                         NaN
7                         NaN

In [77]:
df.fillna?
df.reindex?

In [14]:
## Fill NA with most recent obs

cols_to_backfill = ['index','Site No.','Study sites', 'Country', 'Types', 'Area (km2)', 'Change trend', 'Area difference between final and initial year (km2)', 'Observation method']
df.loc[:, cols_to_backfill] = df[cols_to_backfill].fillna(method='backfill')
df.rename(columns={'index':'reference'}, inplace=True)
df.index.rename('Idx')
df.head(8)

,reference,Reference,Site No.,Study sites,Country,Types,Area (km2),Year,Aquatic vegetation area (km2),Aquatic vegetation cover (%),Change trend,Specific change rate μ (% y-1),Unnamed: 11,Unnamed: 12,Unnamed: 13,Area difference between final and initial year (km2),Observation method
0,0,NaN,1.0,Lake Simcoe (Cook's Bay),Canada,1,44,NaN,NaN,NaN,+,<1980,1980-2000,>2000,Whole year,8.590,A
1,1,-1.0,1.0,Lake Simcoe (Cook's Bay),Canada,1,44,1984,9.530,21.66,+,NaN,5.94,-8.77,2.79,8.590,A
2,2,NaN,2.0,Lake Číčov,Slovak Republic,"1, 2",0.487,1987,11.390,25.89,/,NaN,NaN,NaN,NaN,-0.005,"A, B"
3,3,NaN,2.0,Lake Číčov,Slovak Republic,"1, 2",0.487,2006,19.780,44.95,/,NaN,NaN,NaN,NaN,-0.005,"A, B"
4,4,NaN,2.0,Lake Číčov,Slovak Republic,"1, 2",0.487,2007,18.120,41.18,/,NaN,NaN,NaN,NaN,-0.005,"A, B"
5,5,-2.0,2.0,Lake Číčov,Slovak Republic,"1, 2",0.487,1949,0.293,60.12,/,-0.59,NaN,NaN,-0.03,-0.005,"A, B"
6,6,NaN,3.0,Hudson River,USA,1,20-50,1970,0.259,54.37,-,NaN,NaN,NaN,NaN,-5.000,B
7,7,NaN,3.0,Hudson River,USA,1,20-50,1990,0.239,50.14,-,NaN,NaN,NaN,NaN,-5.000,B

In [4]:
## Backfill index # no need
# df.set_index
df.set_index('index')

KeyError: 'index'

In [5]:
df.index.set_names('index', inplace=True)
df.head()

Reference reference           Site No.               Study sites  \
                    Unnamed: 0_level_1        Unnamed: 1_level_1
index
0              -1.0                1.0  Lake Simcoe (Cook's Bay)
1              -2.0                2.0                Lake Číčov
2              -2.0                2.0                Lake Číčov
3              -2.0                2.0                Lake Číčov
4              -2.0                2.0                Lake Číčov

Reference            Country              Types         Area (km2)  \
          Unnamed: 2_level_1 Unnamed: 3_level_1 Unnamed: 4_level_1
index
0                     Canada                  1                 44
1            Slovak Republic               1, 2              0.487
2            Slovak Republic               1, 2              0.487
3            Slovak Republic               1, 2              0.487
4            Slovak Republic               1, 2              0.487

Reference               Year Aquatic vegetation area (km2)  \
          Unnamed: 5_level_1            Unnamed: 6_level_1
index
0                       1984                         9.530
1                       1987                        11.390
2                       2006                        19.780
3                       2007                        18.120
4                       1949                         0.293

Reference Aquatic vegetation cover (%)       Change trend  \
                    Unnamed: 7_level_1 Unnamed: 8_level_1
index
0                                21.66                  +
1                                25.89                  /
2                                44.95                  /
3                                41.18                  /
4                                60.12                  /

Reference Specific change rate μ (% y-1)                             \
                                   <1980 1980-2000 >2000 Whole year
index
0                                    NaN      5.94 -8.77       2.79
1                                    NaN       NaN   NaN        NaN
2                                    NaN       NaN   NaN        NaN
3                                    NaN       NaN   NaN        NaN
4                                  -0.59       NaN   NaN      -0.03

Reference Area difference between final and initial year (km2)  \
                                           Unnamed: 13_level_1
index
0                                                      8.590
1                                                     -0.005
2                                                     -0.005
3                                                     -0.005
4                                                     -0.005

Reference  Observation method
          Unnamed: 14_level_1
index
0                           A
1                        A, B
2                        A, B
3                        A, B
4                        A, B

In [136]:
df[['reference']]
df.columns.levels
# df.drop(axis=1, labels='index')
# df.reset_index()
# df.index.drop('Unnamed: 0_level_1')

FrozenList([[u'Aquatic vegetation area (km2)', u'Aquatic vegetation cover (%)', u'Area (km2)', u'Area difference between final and initial year (km2)', u'Change trend', u'Country', u'Observation method', u'Site No.', u'Specific change rate μ (% y-1)', u'Study sites', u'Types', u'Year', u'reference'], [u'', u'1980-2000', u'<1980', u'>2000', u'Unnamed: 0_level_1', u'Unnamed: 13_level_1', u'Unnamed: 14_level_1', u'Unnamed: 1_level_1', u'Unnamed: 2_level_1', u'Unnamed: 3_level_1', u'Unnamed: 4_level_1', u'Unnamed: 5_level_1', u'Unnamed: 6_level_1', u'Unnamed: 7_level_1', u'Unnamed: 8_level_1', u'Whole year']])

In [11]:
df.index.drop()

TypeError: drop() takes at least 2 arguments (1 given)

## Scrap

In [80]:
df.sort_values?

In [ ]:
# df.xs(['Site No.','Study sites', 'Country', 'Types', 'Area (km2)', 'Change trend', 'Area difference between final and initial year (km2)', 'Observation method'], 1).fillna(method='backfill', inplace=True)